<html>
    <head>
        <title>ExoTrippin</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>

<form class="form">
    <table>
        <tr>
            <td>Enter your desired heat:</td>
            <td style="padding-bottom: 10px;padding-top: 10px;"><input type="text" id="heatLevel"/></td>
        </tr>
        <tr>
            <td>Moisture level:</td>   
            <td style="padding-bottom: 10px;padding-top: 10px;"><input type="text" id="moistureLevel"/></td>
        </tr>
        <tr>
            <td>Oceanic rate:</td>   
            <td style="padding-bottom: 10px;padding-top: 10px;"><input type="text" id="oceanicRate"/></td>
        </tr>
        <tr>
            <td>Elevation:</td>   
            <td style="padding-bottom: 10px;padding-top: 10px;"><input type="text" id="elevationRate"/></td>
        </tr>
    </table>
</form>
            <button class="btn btn-primary btn-lg" onclick="saveData()">Submit</button>
    </body>

<script>
function saveData(){
  var heatInput = $("#heatLevel");
  localStorage.setItem("heatLevel", heatInput.val());

  var moistureInput = $("#moistureLevel");
  localStorage.setItem("moistureLevel", moistureInput.val());
  
  var oceanicInput = $("#oceanicRate");
  localStorage.setItem("oceanicRate", oceanicInput.val());
  
  var elevationInput = $("#elevationRate");
  localStorage.setItem("elevationRate", elevationInput.val());
  console.log(localStorage);
}
</script>