<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Webapp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header style="display: none;">
      <span id="tectonicPlateCountLabel">50</span>
      <input id="tectonicPlateCountRange" type="range" style="position: absolute; right: 0; width: 100%; top: 1em; height: 1.5em; font-size: 100%;" min="0" max="300" step="1" value="44">
      <button id="lowDetailButton" style="width: calc(5em / 0.8); height: calc(1.5em / 0.8);" title="Use a low detail setting when generating a planet." class="toggled">Low</button>
      <button id="generatePlanetButton" style="position: absolute; left: 0; width: calc(6.5em / 0.8); top: 0; height: calc(2.5em / 0.8); margin: 0;" title="Generate a new planet with current settings.">Generate</button>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
